*{margin: 0;
padding: 0;
box-sizing: border-box;}


body{background-image: url(background_image.jpg);background size: cover; 

text-align:center;
color: white;}


h1{text-align: center;

}
.container div {
    text-align: left;


}


.header {color: white;
    font-weight: 900;}
    form {
        background-color: rgba(6, 6, 6, 0.879 );
        display: inline-block;
        width: fit-content;
        padding: 30px;
 }

 .gender {text-align: left;
}